<!-- wpo-cta-area end -->
<div class="wpo-ne-footer">
    <!-- start wpo-site-footer -->
    <footer class="wpo-site-footer">
        <div class="wpo-upper-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-md-4 col-sm-6">
                        <div class="widget link-widget">
                            <div class="widget-title">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-4 col-sm-6">
                        <div class="widget market-widget wpo-service-link-widget">
                            <div class="widget-title">
                                <h3>Contact </h3>
                            </div>
                            <div class="contact-ft">
                                <ul>
                                    <li><i class="fi flaticon-pin"></i>{{ site.contact.address }}</li>
                                    <li><i class="fi flaticon-call"></i>{{ site.contact.telephon }}</li>
                                    <li><i class="fi flaticon-envelope"></i>{{ site.contact.email }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </div>
        <div class="wpo-lower-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <p class="copyright">&copy; 2020. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end wpo-site-footer -->
</div>