{% include head.html %}

<body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
        
        {% include preloader.html %}
        
        {% include header_navigation.html %}

        <!-- .wpo-breadcrumb-area start -->
        <div class="wpo-breadcrumb-area" style="background: url(/images/portraits/Prokopis_W-5.jpg) no-repeat center;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcrumb-wrap">
                            <h2>About</h2>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><span>About</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .wpo-breadcrumb-area end -->

        <div class="wpo-about-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 colsm-12">
                        <div class="wpo-about-text">
                            <div class="wpo-section-title">
                                <span>Obstetrician-gynecologist</span>
                                <h2>Dr Prokopis Kerimis</h2>
                            </div>
                            <p>Dr. Kerimis received his M.D. from the University of Ioannina, Greece in 1996, going to complete his residency and specialization at the department of Obstetrics and Gynecology at the renowned Haim Sheba Medical Centre - Tel Hashomer, Tel Aviv. During his time at Tel Hashomer he was part of the obstetric team which delivered, on average over 10 thousand babies every year.</p>
                                
                            <p>During his six years of residency Dr. Kerimis specialized in obstetrics, gynecology, endocrinology with IVF and male fertility. He gained experienced in all types of births; from spontaneous vaginal births to assisted vaginal births (vacuum assisted and forceps assisted), to caesarean births and vaginal births after delivery (VBAC).</p>
                            
                            <p>In 2006 Dr Kerimis opened his private clinic in Limassol, Cyprus to deliver world class gynecological, maternity and women’s health services. His buzzing clinic in the heart of Limassol supports  not only women from all over Cyprus but clients who from overseas to who wish to the receive caring, individualized and comprehensive health care.</p>
                                
                            <p>Dr Kerimis is fluent in three languages, Greek, English and Hebrew. He has been registered since ??? with the Cypriot Medical Council.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 colsm-12">
                        <div class="wpo-about-img">
                            <img src="assets/images/about.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        {% include footer.html %}

    </div>
    <!-- end of page-wrapper -->
    
    {% include preBodyEnd.html %}
    
</body>

</html>