{% include head.html %}

<body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
        
        {% include preloader.html %}
        
        {% include header_navigation.html %}

        <!-- start of hero -->
        <section class="hero hero-style-1">
            <div class="hero-slider">
                <div class="slide">
                    <div class="container">
                        <img src="/images/portraits/Prokopis_W-10.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-6 slide-caption">
                                <div class="slide-title">
                                    <h2>Dr Prokopis Kerimis</h2>
                                </div>
                                <div class="slide-subtitle">
                                    <p>Obstetrician-gynecologist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="slide">
                    <div class="container">
                        <img src="/images/portraits/Prokopis_w-13.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-6 slide-caption">
                                <div class="slide-title">
                                    <h2>Lorem ipsum dolor <span>sit amet</span></h2>
                                </div>
                                <div class="slide-subtitle">
                                    <p>Foo fah fah fah</p>
                                    <p>blah blah blah blah</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <img src="/images/portraits/Prokopis_w-14.jpg" alt class="slider-bg">
                        <div class="row">
                            <div class="col col-md-6 slide-caption">
                                <div class="slide-title">
                                    <h2>Lorem ipsum dolor <span>sit amet</span></h2>
                                </div>
                                <div class="slide-subtitle">
                                    <p>Foo fah fah fah</p>
                                    <p>blah blah blah blah</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- end of hero slider -->
        <!-- wpo-mission-area start -->
        <div class="wpo-mission-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <span>What We Do?</span>
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                    </div>
                </div>
                <div class="wpo-mission-wrap">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12 custom-grid">
                            <div class="wpo-mission-item">
                                <div class="wpo-mission-icon">
                                    <i class="fi flaticon-water"></i>
                                </div>
                                <div class="wpo-mission-content">
                                    <h2>Heading</h2>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 custom-grid">
                            <div class="wpo-mission-item">
                                <div class="wpo-mission-icon-2">
                                    <i class="fi flaticon-food-and-restaurant"></i>
                                </div>
                                <div class="wpo-mission-content">
                                    <h2>Heading</h2>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 custom-grid">
                            <div class="wpo-mission-item">
                                <div class="wpo-mission-icon-3">
                                    <i class="fi flaticon-book"></i>
                                </div>
                                <div class="wpo-mission-content">
                                    <h2>Heading</h2>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 custom-grid">
                            <div class="wpo-mission-item">
                                <div class="wpo-mission-icon-4">
                                    <i class="fi flaticon-care"></i>
                                </div>
                                <div class="wpo-mission-content">
                                    <h2>Heading</h2>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-mission-area end -->
        <!-- wpo-about-area start -->
        <div class="wpo-about-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 colsm-12">
                        <div class="wpo-about-text">
                            <div class="wpo-section-title">
                                <span>What We Do?</span>
                                <h2>Heading for this block</h2>
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there.</p>
                            <p>Thing embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, </p>
                            <div class="btns">
                                <a href="about.html" class="theme-btn">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 colsm-12">
                        <div class="wpo-about-img">
                            <img src="assets/images/about.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wpo-about-area end -->
        
        <!-- wpo-cta-area start -->
        <div class="wpo-cta-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wpo-cta-text">
                            <h2>Heading for this block</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse </p>
                            <div class="btns">
                                <a href="/contact" class="theme-btn">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include footer.html %}

    </div>
    <!-- end of page-wrapper -->

    {% include preBodyEnd.html %}

</body>

</html>